{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">О нас</h1>
                <p class="card-text">Мы - студенческая платформа обмена учебными материалами, созданная для поддержки образовательного процесса. Здесь студенты могут делиться своими работами и учиться друг у друга.</p>
            </div>
        </div>
    </div>
{% endblock %}
