{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Добро пожаловать на студенческую платформу!</h1>
            <p class="lead">Здесь вы можете выгружать свои работы и делиться ими с другими учащимися.</p>
            <hr class="my-4">
            <p>Поддерживайте образовательное сообщество, загружайте свои материалы и получайте доступ к работам других студентов.</p>
        </div>
    </div>
{% endblock %}